
.heder {
    position: relative;
}

.grid {
    width: 95%;
    top: 0;
    left: 0;
    height: 100%;
    padding: 16px 0 16px 16px;
    text-align: center;
}
.grid .grid-item {
    display: inline-block;
    width: 25%;
    padding: 15px;
    opacity: .75;
    transition: opacity .5s;
}
.grid .grid-item:hover {
    opacity: 1;
}






.chose {
    width: 95%;
    top: 0;
    left: 0;
    padding: 16px 0 16px 16px;
    text-align: center;
}
 .chose_item {
    margin-top: 5%;
    margin-right: 35%;
    margin-left: 35%;
    display: block;
    width: 25%;
    padding: 0 17px 0 17px;
    opacity: .75;
    transition: opacity .5s;


    font-style: normal;
    font-size: 16px;
    font-family: "Open Sans", Verdana, sans-serif;
    text-transform: none;
    line-height: 24px;
    color: #a1a1a1;
    text-decoration: none;
    text-align: center;
}
 .chose_item:hover {
    opacity: 1;
}

.chose_item img {
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}


@media screen and (max-width: 1060px) {

    .grid .grid-item {
        width: 50%;
    }

    .chose{
        margin-top: 15%;
    }
    .chose_item {
        margin-left: 15%;
        margin-right: 15%;
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .grid .grid-item {
        width: 85%;
    }
    .chose{
        margin-top: 35%;
    }
    .chose_item{
        margin-top: 20%;
        margin-right: 0;
        margin-left: 0;
        width: 85%;
    }
}
.grid img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
